name: tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: push

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ubuntu_test:
    runs-on: ubuntu-latest
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v1.1.0
        with:
          command: " "
        env:
          DEBUG: 1
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided

  macos_test:
    runs-on: macos-latest
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v1.1.0
        with:
          command: " "
        env:
          DEBUG: 1
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided
